# QAP Regression Preperation

In [1]:
import pandas as pd

### Loading data

In [2]:
# import data
nodes = pd.read_csv("data/complete_node_list_with_attributes.csv")
edges = pd.read_csv("data/complete_edge_list_with_rating_weights.csv")

In [5]:
# Show me your heads
nodes.head()

   Unnamed: 0       id      type  movie  publish_year title _merge;;;
0           0  1195392  customer    NaN           NaN   NaN       ;;;
1           1  1325977  customer    NaN           NaN   NaN       ;;;
2           2   752568  customer    NaN           NaN   NaN       ;;;
3           3  1427482  customer    NaN           NaN   NaN       ;;;
4           4  1144950  customer    NaN           NaN   NaN       ;;;

In [6]:
edges.head()

   customer  movie  weight
0   1195392  17672     1.0
1   1325977  17672     3.0
2   1325977  17726     4.0
3    752568  17756     5.0
4   1427482  17756     4.0

### Creating the matrix

Dylan suggested using Panda's Pivot function

In [ ]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
...                            'two'],
...                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
...                    'baz': [1, 2, 3, 4, 5, 6],
...                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
>>> df

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
df.pivot(index='foo', columns='bar')['baz']